/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
#map_stations {
    height: 100%;
    width: 100%;
}

div.spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    text-align: center;
}

.spinner svg {
    width: 19% !important;
    height: 85px !important;
}


/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .menu-open .ion-navicon:before {
        content: "\f2ca";
    }


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/HTV_logo.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}
.lazy-image-default-main {
    background: url('../img/def-s-3.png') center;
}
.lazy-image-class-loaded {
      -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
            opacity: 1;
}
.lazy-image-default-main-hero {
    background: url('../img/def-s-3.png') center;
    height: 244px !important;
}
.image-loader-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}


.social-login {
    position: fixed;
    bottom: 0;
}

.search-back-button {
    padding-left: 5px !important;
    padding-right: 5px;
    min-width: 20px !important;
    min-height: 20px !important;
    width: 20px !important;
    height: 20px;
}

    .search-back-button :after {
        padding-left: 5px;
        padding-right: 5px;
        min-width: 20px !important;
        min-height: 20px !important;
        width: 20px !important;
        height: 20px;
    }

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
    padding-left: 5px !important;
    padding-right: 5px;
    min-width: 20px !important;
    min-height: 20px !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
}

.animate-show.ng-hide {
    opacity: 0 !important;
}

.search-input {
    width: 100%;
    display: table;
}

.span-clear-search {
    color: black;
    cursor: pointer;
}

.icon-location-search {
    color: #da190a;
    font-size: 23px;
}

.search-list-divider {
    background: #f7f0f0 !important;
}

.itinery-name {
    color: #15262f;
    font-weight: 800;
}

.itineray-badge {
    background: #09c !important;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-top0 {
    padding-top: 0px;
}

.height100perc {
    height: 100%;
}

.ionic_ratings .read_only {
    pointer-events: none !important;
}

.top0 {
    margin-top: 0px !important;
}

.apply-container {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

    .list .item.item-accordion.ng-hide {
        line-height: 0px;
    }

    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }

.f-btn-apply {
    max-width: 100% !important;
    margin-right: 10px !important;
    border-color: #e42112 !important;
    background-color: #ef473a !important;
    width: auto !important;
}

.right {
    float: right;
}

.noi-content {
    background: gainsboro;
    text-align: center;
}
.noi-content-1 {
    text-align: center;
}

.margin-top30 {
    margin-top: 30px;
}
.margin-top20 {
   margin-top:20px;
}
.margin-top50{
    margin-top:50px;
}
.margin-left10 {
    margin-left:10px;
}
.margin-left5 {
    margin-left:5px;
}
.margin-top15 {
    margin-top:15px;
}
.noi-icon {
    font-size: 60px;
    color: grey;
}
.noi-image {
    max-height:120px;
    max-width:100%;
}

.min-height100perc {
    min-height: 100%;
}

.padTop30 {
    padding-top: 30px;
}

.center {
    text-align: center;
}

.tours-list-item {
    padding-top: 8px;
    padding-right: 8px;
    border-bottom: 1px solid #eeeeee !important;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

    .tours-list-item img {
        border-radius: 0% !important;
    }

.tour-description-overview {
    border-bottom: 1px solid #eeeeee !important;
}

.min-height80 {
    min-height: 80px;
}

.lblue {
    color: #428bca;
}
.lblueImp {
    color: #428bca !important;
}

.pad0 {
    padding: 0px;
}

.padtopbottomleft0 {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.fsize130perc {
    font-size: 130%;
}

.maxwidth17 {
    max-width: 17px;
}

.pricetourlist {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.pricevaluelist {
    font-size: 120%;
    color: #72bf66;
}
.green-price{
    color: #72bf66;
}

.block {
    display: block;
}

.back-button-tourslist {
    width: auto !important;
    margin-left: 10px !important;
    min-width: 20px !important;
}

.maindatesitems {
    border-bottom: 1px solid #eeeeee !important;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.maindatesitems_1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.imageslidertext {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.green {
    color: green;
}

.font-weight500 {
    font-weight: 500;
}

.background-grey {
    background: grey;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.fullscreen-image-1 {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

p.info-image {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.padbottom0 {
    padding-bottom: 0px;
}

.padbottom16 {
    padding-bottom: 16px;
}

.padTop0 {
    padding-top: 0px;
}

.padTop16 {
    padding-top: 16px;
}
.padletfright15 {
    padding-left: 15px;
    padding-right:15px;
}

.customulli ul {
    list-style-type: disc;
}

    .customulli ul li {
        list-style-image: url('../img/check.png');
        list-style-position: inside;
        padding: 2px;
    }

.itinerary-avatar {
    height: auto !important;
    color: white;
    background: #09c;
    border-radius: 10% !important;
    /*width: 20% !important;*/
    text-align: center !important;
}


.review-additional-span {
    font-size: 80%;
    color: grey;
}


.review-replay {
    background: transparent;
    border-top: 1px solid #E3E3E3;
    line-height: 20px;
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
}

    .review-replay:before {
        content: "";
        position: absolute;
        top: -13px;
        left: 32px;
        border-width: 0 13px 13px;
        border-style: solid;
        border-color: #DDD transparent;
        border-color: #DDD rgba(255,255,255,0);
        display: block;
    }


    .review-replay:after {
        content: "";
        position: absolute;
        top: -12px;
        left: 33px;
        border-width: 0 12px 12px;
        border-style: solid;
        border-color: #fff transparent;
        border-color: #fff rgba(255,255,255,0);
        display: block;
    }

.button-bar-moda-date {
    width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.grey {
    color: #999;
}

.red {
    color: #ef473a;
}
.redImp {
    color: #ef473a !important;
}

.green2 {
    color: #339933;
}
.green2Imp {
    color: #339933 !important;
}

.line-through {
    text-decoration: line-through;
}

.sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
}

    .sidebar-box .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        /* "transparent" only works here because == rgba(0,0,0,0) */
        background-image: linear-gradient(to bottom, transparent, grey);
    }

.review-item-tour {
    border-bottom: 1px solid #eeeeee !important;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-top: 1px solid #eeeeee !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c-iconOnColor {
    color: rgb(200, 200, 100);
}

.c-iconOffColor {
    color: rgb(200, 100, 100);
}

label.item.has_error {
    border-bottom: 2px solid red !important;
}

.wish-heart-on {
    color: #68af22;
}




.item-md-label textarea {
    z-index: 1;
    position: relative;
    bottom: 0;
}

    .item-md-label textarea:focus ~ .input-label, .item-md-label textarea.used ~ .input-label {
        -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
        transform: translate3d(0, -60px, 0) scale(0.9);
        opacity: 1;
    }

    .item-md-label textarea:focus ~ .hightlight {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.item-md-label textarea {
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    color: #fff;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
}

.contact-background {
    background: rgba(238,224,211,1);
    background: -moz-linear-gradient(top, rgba(238,224,211,1) 0%, rgba(204,172,133,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,224,211,1)), color-stop(100%, rgba(204,172,133,1)));
    background: -webkit-linear-gradient(top, rgba(238,224,211,1) 0%, rgba(204,172,133,1) 100%);
    background: -o-linear-gradient(top, rgba(238,224,211,1) 0%, rgba(204,172,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,224,211,1) 0%, rgba(204,172,133,1) 100%);
    background: linear-gradient(to bottom, rgba(238,224,211,1) 0%, rgba(204,172,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee0d3', endColorstr='#ccac85', GradientType=0 );
}

.back-button > .back-text > .default-title {
    display:none;
}
.back-button > .back-text > .previous-title {
    display: none;
}

.booknow.button.disabled, .booknow.button[disabled] {
    border: 1px solid;
}
.circle-singleline-green {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 75px;
    text-align: center;
    background: #458b74;
    color: #fff;
}
.circle-singleline-red {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 75px;
    text-align: center;
    background: #DC143C;
    color: white;
}
.thumbnail-a {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
}
.thumbnail-a>img {
    margin-right: auto;
    margin-left: auto;
}
.thumbnail-a>img {
    display: block;
    max-width: 100%;
}
.thumbnail-exc-1
{
    min-height:250px;
    height:250px !important;
    width: 100%;
}
@media (max-width:992px)
{
	.thumbnail-exc-1
	{
		min-height:150px;
		height:150px !important;
        width: 100%;
	}
}
@media (max-width:440px)
{
	.thumbnail-exc-1
	{
		min-height:100px;
		height:100px !important;
        width: 100%;
	}
}

@media (max-width:992px)
{
	.tolist-image-item
	{
        width: 100% !important;
        height: 280px !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        overflow: hidden !important;
	}
}
@media (max-width:440px)
{
	.tolist-image-item
	{
    width: 100% !important;
    height: 180px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    background-size: cover !important;
	}
}
.cust-img-list img{
    display:inline !important;
}

.custom-item-divider {
    background-color:#a4b1b0 !important; 
    height: auto !important;
    line-height: 20px !important;
}
.custom-form-list input,textarea {
    width: 97% !important;
    border: 2px solid #ebebeb !important;
    padding-left: 10px !important;
}
.custom-form-notifications {
    padding-left:0px !important;
    margin-top:0px !important;
    padding-top:0px !important;
    min-height:12px !important;
    margin-bottom:0px !important; 
    padding-bottom:0px !important;
    font-size:14px !important;
    font-style: italic !important;
}
.custom-form-error {
    padding-left:0px !important; 
    margin-top:0px !important; 
    padding-top:0px !important;
    min-height:12px !important;
    margin-bottom:0px !important; 
    padding-bottom:0px !important; 
    color:red !important; 
    font-weight:700 !important; 
    font-size:16px !important; 
    border-bottom: 1px solid red !important;
}
.italic {
    font-style:italic;
}
.img-center {
margin-left: auto; margin-right: auto; display: block; width: 100%;
}


.range-disabled input[type=range]::-ms-thumb {
    background: #ef4e3a;
}
.range-disabled input[type=range]::-webkit-slider-thumb {
    background: #ef4e3a;
}