<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <div class="buttons buttons-left header-item" ng-click="CloseModalTastes()"> <span class="left-buttons"> <button class="button button-icon button-clear ion-chevron-left"> </button> </span> </div>
        <div class="h1 title title-left light" translate-once="TITLE_PICK_TASTE_1"></div>
    </ion-header-bar>
    <ion-content has-header="true">
        <ion-list>
            <ion-radio name="group"
                       ng-model="value.taste"
                       ng-repeat="item in tastes track by $index"
                       ng-value="item.id"
                       ng-change='newValueModalTastes()'
                       class="item-text-wrap"
                       icon="radio-icon ion-checkmark-round balanced">
                <div id="item{{item.id}}" style="font-weight:bold; width:100%;">{{ item.name }}</div>
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>