<ion-view>
    <ion-nav-bar class="bar balanced" align-title="left">
        <ion-nav-back-button class="button-clear" transitiontype="slide" direction="right" go-native>
            <i class="icon-left ion-chevron-left"></i>
        </ion-nav-back-button>
        <ion-nav-title translate-once="TITLE_RATES">
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="loader" ng-show="isInitial"><svg class="circular"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /></svg></div>
        <div class="noi-content min-height100perc" ng-if="isError && !isInitial">
            <div class="padTop30">
                <i class="icon ion-bug noi-icon">
                </i>
                <h3 translate-once="TITLE_EROOR_HAS_OCCURED"></h3>
                <p translate-once="MSG_TRY_AGAING_DATA"></p>
                <div class="apply-container">
                    <button class="button button-block button-calm" ng-click="Reload()" translate-once="BTN_TRY_AGAIN"></button>
                </div>
            </div>
        </div>
        <div class="noi-content-1 min-height100perc" ng-if="!isError && !isInitial" style="margin-bottom: 40px;">
            <p class="padTop30" translate-once="MSG_HOW_TO_RATE"></p>
            <ion-list>
                <div class="item item-stable item-text-wrap">
                    <span class="input-label has-input" style="font-weight:bold; width:100%;"><span translate-once="TITLE_RATE_SMELL"></span></span>
                    <span style="width:100%;" translate-once="MSG_SMELL_QUESTION"></span>
                    <div class="row">
                        <div class="col col-50 center"><button class="button" ng-class="ac_1" ng-click="MatureClicked();"><span translate-once="BTN_MATURE"></span><i class="icon ion-checkmark-round margin-left5" ng-show="mature_active == true"></i></button></div>
                        <div class="col col-50 center"><button class="button" ng-class="ac_2" ng-click="GreenClicked();"><span translate-once="BTN_GREEN"></span><i class="icon ion-checkmark-round margin-left5" ng-show="green_active == true"></i></button></div>
                    </div>
                </div>
                <div class="item item-icon-right item-stable item-text-wrap" style="padding-top:0px;" ng-click="ShowModalSmell()" ng-show="green_active == true || mature_active" >
                    <span class="input-label has-input" style="font-weight:bold; width:100%;"><span translate-once="TITLE_PICK_CHARATERISTICS"></span></span>
                    <span>{{GetSmells()}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
                <div class="item item-stable item-text-wrap" style="margin-bottom: 5px; padding-top:0px;" ng-show="(green_active == true || mature_active) && value.smell.length > 0">
                    <span class="input-label" style="font-weight:bold; width:100%;"><span translate-once="LBL_FRUIT_INTESITY"></span></span>
                    <div class="range">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="0" max="100" ng-model="value.smell_intesity" ng-change="SmellSliderChange();">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </div>
                <div class="item item-stable item-text-wrap" style="padding-bottom: 0px;" ng-show="TasteShow == true">
                    <span class="input-label has-input" style="font-weight:bold; width:100%;"><span translate-once="TITLE_RATE_TASTE"></span></span>
                </div>
                <div class="item item-icon-right item-stable item-text-wrap" style="padding-top:0px;" ng-click="ShowModalTaste()" ng-show="TasteShow == true">
                    <span class="input-label has-input" style="font-weight:bold; width:100%;"><span translate-once="TITLE_PICK_TASTE"></span></span>
                    <span>{{value.taste_name}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
                <div class="item item-stable item-text-wrap" style="padding-top:0px;" ng-show="TasteShow == true && value.taste > 0">
                    <span class="input-label" style="font-weight:bold; width:100%;"><span translate-once="TITLE_BITTER_INTESITY"></span></span>
                    <div class="range">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="0" max="100" ng-model="value.taste_bitter_intesity">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </div>
                <div class="item item-stable item-text-wrap" style="padding-top:0px; margin-bottom:5px;" ng-show="TasteShow == true && value.taste > 0">
                    <span class="input-label" style="font-weight:bold; width:100%;"><span translate-once="TITLE_SPICY_INTESITY"></span></span>
                    <div class="range">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="0" max="100" ng-model="value.taste_spicy_intesity" ng-change="TasteSliderChanged()">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </div>
                <div class="item item-stable item-text-wrap" style="margin-bottom:5px;" ng-show="GeneralShow == true">
                    <span class="input-label has-input" style="font-weight:bold; width:100%;"><span translate-once="TITLE_GENERAL_OIL_RATE"></span></span>
                    <div class="range">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="0" max="100" ng-model="value.general_rate_intesity">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </div>
            </ion-list>
            <div class="margin-top20" ng-show="GeneralShow && TasteShow" >
                <ion-grid>
                    <div class="row">
                        <div class="col"><button ng-disabled="!((green_active == true || mature_active) && value.smell.length > 0 && value.smell_intesity > 0 && value.taste > 0 && value.taste_bitter_intesity > 0 && value.taste_spicy_intesity > 0 && value.general_rate_intesity > 0)" class="button button-raised button-balanced ink-dark" ng-click="ToResults();" style="float:right;"><span translate-once="BTN_NEXT"></span><i class="icon ion-chevron-right margin-left10"></i></button></div>
                    </div>
                </ion-grid>
            </div>
        </div>
    </ion-content>
</ion-view>